
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is GitTEST Controller Index Method</h1>
        <p>Created Branch01 in Git</p>
        <p>One line added to Git Controller</p>

    </div>
</body>
</html>
