
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is GitTEST Controller Index Method</h1>
<<<<<<< Updated upstream
        <h3>Testing Git</h3>
        <h2>Changes in Git</h2>
=======
        
        
        <p>Created Branch01 in Git</p>

>>>>>>> Stashed changes
    </div>
</body>
</html>
