
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is <strong>Home</strong> Controller and Index Method</h1>
    </div>
    <div>
        <a href="/Home/Aboutus">Home - About us</a><br />
        <a href="/Employee/Index">Employee - Index</a><br />
        <a href="/Employee/aboutus">Employee - About Us</a>

    </div>

</body>
</html>
